:root{
    --primary-color: #d5d4d4;
    --body-font-family:'Bricolage Grotesque', sans-serif;
    --paragraph-font-family:'Open Sans', sans-serif;
}
body {
    font-family: var(--body-font-family);
}
p {
    font-family: var(--paragraph-font-family);
}
.job-title{
    font-size: 1.2em;
}
footer {
  background-color: rgba(248,249,250,1);  
}